@using Newtonsoft.Json
@using ShamaahPOS.Models
@model ShamaahPOS.Models.DailyIncomeViewModel

<div class="container">
    <div class="page-header">
        <h1>@ViewBag.title</h1>
    </div>


    <div>
        <h2>Create New Daily Report</h2>
        <input type="text" id="txtDate" class="dateInput" />
    </div>

    @Html.ActionLink("Create New", "Create")
    @*<button id="btnCreateDailyRpt" class="btn btn-primary btn-large" type="submit">Create</button>*@
    <div>
        <table id="table-style" class="table-hover table-striped table-condensed" data-height="400" data-row-style="rowStyle">
            <thead>
                <tr>
                    <th class="col-md-2">
                        <i class="glyphicon glyphicon-star"></i>
                        Date
                    </th>
                    <th class="col-md-2">
                        Income Amout Total
                    </th>
                    <th class="col-md-2">
                        Company Commission Amtount
                    </th>
                    @*<th class="col-md-2">
                        Company Total
                    </th>*@
                    <th class="col-md-2">
                        Shamaah Commission
                    </th>
                    <th class="col-md-2">
                        Shamaah Service Amount
                    </th>
                    <th class="col-md-2">
                        Withdrawal Amount
                    </th>

                    <th class="col-md-2">
                        Expenes
                    </th>
                    <th class="col-md-2">
                        Total Due Cash
                    </th>
                    <th class="col-md-2">
                        Total Existing Cash
                    </th>
                    <th class="col-md-2" >
                        Cash Difference
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in @Model.DailyCorporationIncomeList)
                {
                    <tr>
                        <td>
                            @item.DailyServiceDate
                        </td>
                        <td >
                            @item.DailyIncomeAmountTotal
                        </td>
                        <td>
                            @item.DailyCompanyCommissionTotal
                        </td>
                        <td>
                            @item.DailyCorporationCommissionTotal
                        </td>
                        <td>
                            @item.DailyCorporationServiceAmountTotal
                        </td>
                        <td>
                            @item.DailyCorporationWithdrawalsTotal
                        </td>
                        <td>
                            @item.DailyCorporationExpensesTotal
                        </td>
                        <td>
                            @item.DailyCashTotal
                        </td>
                        <td>
                            @item.DailyExistingCashTotal
                        </td>
                        <td>
                            @item.CashDifference
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <script>

 
            function rowStyle(row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger'];

                if (index % 2 === 0 && index / 2 < classes.length) {
                    return {
                        classes: classes[index / 2]
                    };
                }
                return {};
            }
            function priceFormatter(value) {
                // 16777215 == ffffff in decimal
                var color = '#' + Math.floor(Math.random() * 6777215).toString(16);
                return '<div  style="color: ' + color + '">' +
                        '<i class="glyphicon glyphicon-usd"></i>' +
                        value.substring(1) +
                        '</div>';
            }
    </script>
}